#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
}
#preview-box {
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 1in;
}
@media (max-width: 610px) {
    #preview-box {
        width: 2.833in;
        height: 3.667in;
        padding: 0.33in
    }
}