#preview {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 96px;
    height: 11in;
    width: 8.5in;
    margin-bottom: 30px;
}
#preview * {
    font-size: 12pt;
}
#personal {
    display: flex;
    flex-direction: column;
}
#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#personal-left > * {
    margin-bottom: 6px;
}
#personal-right > * {
    margin-bottom: 6px;
}
#pName {
    font-size: 24pt;
    text-transform: uppercase;
}
#pTitle {
    font-size: 18pt;
}
#dividing-line {
    height: 1px;
    width: auto;
    background-color: #2D3142;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pObjective {
    margin-top: 10px;
    margin-bottom: 10px;
}
#experience {
    display: flex;
    flex-direction: column;
    margin-bottom: -12px;
}
.expBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.expLineOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
.expLineOne-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#education {
    display: flex;
    flex-direction: column;
    margin-bottom: -6px;
}
.eduBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}
.eduBlock-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.expDates, .eduDates {
    margin-left: 4px;
    font-weight: 500;
}